
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  
  font-size: 16px;
  font-family: "Ubuntu Condensed", sans-serif;
  --text-primary: rgb(202, 196, 196);
  --text-secondary: white;
  --back-ground-color: linear-gradient(to top right, #020624 30%, #030921 1%, #051c30, #0c1e34, #0f172a, #0f1b2f, #111827, #1e293b);
  --transition-speed: 0.1s;
  --drawer-width: clamp(200px, 20vw, 300px);
  --gh-avatar:  url("https://github.com/hassantimothy.png");
  --gh-avatar2: url("https://github.com/Archybella.png");
  --gh-avatar3: url("https://github.com/MeFerdi.png");
  --gh-avatar4: url("https://github.com/INNOCENTMUSAKHI.png");
  --card-background: linear-gradient(to top right, #0f172a, #1f2937, #364252, #4b5563, #e0e0e0);;
  --content-gray: rgb(235, 235, 235);
  --transition-notDrawer: margin-left 0.1s ease-in;
  --transition-drawer: width 0.1s ease-in;
  --border-outline-color: #364252:

/* trial */
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 2px;
  color: var(--text-primary);
  background:#020624;
  width: 90vw;
  min-width: 700px;
  height: 100vh;
  margin: 0 auto; /* to center the body horizontally within the viewport */
  display: grid;
  grid-template-areas:
    "drawer nav nav nav"
    "drawer content content content";
  grid-template-rows: 0.6fr 4fr;
  grid-template-columns: 5rem 1fr 1fr 1fr;
}
.drawer {
  background-color: #364252;
  width: 5rem;
  position: fixed;
  transition: var(--transition-drawer);
  overflow: hidden;
  height: 100vh;
}

.drawer:hover {
  width: var(--drawer-width);
}

.menuItem > h1 {
  display: none;
  margin-left: 1.5rem;
}

.drawer:hover > .menuItem > h1 {
  display: flex;
}

.drawer:hover ~ .navbar,
.drawer:hover ~ .content {
  margin-left: calc(var(--drawer-width) - 5rem);
}

.menuItem {
  color: var(--text-secondary);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.menuItem > * {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.drawer > *:not(:first-child) > * {
  padding: 1rem 0.5rem 0.5rem 1rem;
  font-size: 22px;
  padding-left: 20px;
}
.drawer > *:not(:first-child) > img {
  width: calc(20px + 0.5vw);
  height: calc(20px + 0.5vw);
}

.drawer > div:nth-child(8) {
  padding-top: 60px;
}

.dashboard {
  font-size: clamp(12px, calc(25px + 0.9vw), 50px);
}
.dashboard img {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(40px + 0.7vw);
  height: calc(40px + 0.7vw);
  padding-left: 10px;
  padding-top: 10px;
}

/* Main Content */

.content {
  grid-area: content;
  transition: var(--transition-notDrawer);
  background: var(--back-ground-color);
  display: grid;
  padding-top: 72px;
  padding: 1rem;
  padding-right: 1rem;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  gap: 2rem;
  z-index: 0;
  grid-template-areas:
    "projects announcements"
    "projects trending";
}


.content h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.8rem;
} 


/* Navbar Styling */
.navbar {

  grid-area: nav;
  transition: var(--transition-notDrawer);
  background-color: var(--back-ground-color);
  /* background-color: #79787850; */
  padding: 1.5rem 3rem;
  padding: 1px;
  position: sticky;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(5px);
 
}

.topNav {
  display: grid;
  grid-template-columns: 1fr max-content;
  margin-bottom: 2.5rem;
}


.search {
  display: flex;
  align-items: center;
  margin-right: auto;
  width: 100%;
  
}

.search > input {
  display: inline-block;
  border: 0px;
  background-color: rgb(211, 207, 207);
  padding: 0.5rem 1.5rem;
  outline-color: rgb(15, 27, 15);
  margin-left: 1.25rem;
  border-radius: 5px;
  width: min(80%, 600px);
  margin-right: 20px;
}

.search > input:hover {
  opacity: 0.7;
  transform: scale(1);
}



.navbar .account {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 800;
}

.gh-avatar {
  background: var(--gh-avatar) center center / cover no-repeat;
  border-radius: 50%;
}

.account .gh-avatar {
  margin: 0 1rem 0 2.5rem;
  height: 40px;
  width: 40px;
}

img {
  cursor: pointer;
}

.bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 4rem;
  margin: 0 20px;

}

.profile {

  display: flex;
  align-items: center;
  flex-shrink: 1;
  gap: 1rem;
  flex-flow: 1;



}
.profile .gh-avatar {
  padding-bottom: 2px;
  padding-left: 2px;
  width: 4rem;
  height: 4rem;
}

.greeting {
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.profile .name {
  font-size: 1.4rem;
  font-weight: 500;
}

.profile-name > .name{
  font-size: 1.4rem;
  font-weight: 500;

}
.account > .name {
  font-weight: 500;
  margin-bottom: 0.5rem;
  padding-right: 30px;
}

/* Buttons styling */


.buttons {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.btn {
  color: aliceblue;
  background-color: #19335d ;
  font-weight: 300;
  padding: 0.5rem 1.8rem;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid gray;
  cursor: pointer;
}

.btn:hover{
  background-color: #076885;
  color: #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  
}





/* CARD, CARDS IN PROJECT-CLASS STYLING  */

.projects {
  grid-area: projects;
}

.projects .cards {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 250px;
  gap: 2rem;
  padding-bottom: 2rem;
}

.projects .card-title {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.projects .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.projects .icons {
  position: relative;
  margin-top: auto;
  align-self: flex-end;
  display: flex;
  justify-content: flex-end;
  gap: 1.4rem;
  align-items: center;
  padding-bottom: 0px;
  padding-right: 0px;
}
.card .icons img {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 1.4rem;
  height: 1.4rem;
  
}

.card .icons img:hover{
  opacity: 0.7;
  transform: scale(.9);

}

/* CARDS ANIMATION STYLING */




.card {
  background: var(--back-ground-color);
  width: var(--card-width);
  height: var(--card-height);

  /* padding: 3px; */


  padding: 2rem;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  font-size: 1.5rem;
  color: rgb(88 199 250 / 50%);
  cursor: pointer;
  flex-direction: column;
  border-radius: 0.6rem;
}


.card:hover {
  color: rgb(88 199 250 / 100%);
  transition: color 1s;
}
.card:hover:before, .card:hover:after {
  animation: none;
  opacity: 100;
}


.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(
    var(--rotate)
    , #90d7eb, #31447f 43%, #5d2ea3);
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 20.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(
    var(--rotate)
    , #78cee6, #7591e6 43%, #ae80f4);
    opacity: 1;
  transition: opacity .5s;
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}




















/* Announcement styling */

div.announcements ul.announcements-card {
  position: relative;
  background-image: var(--card-background);
  padding: 2rem;
  border-radius: 0.6rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 /0.1);
  max-width: 30vw;
  backdrop-filter: blur(5px);
}

.announcements {
  grid-area: announcements;
}

.announcement {
  width: 25ch;
  padding: 1rem 0;
}


.announcement:first-child {
  padding-top: 0;
}

.announcement:last-child {
  padding-bottom: 0;
}

.announcement h5 {
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}

.announcement p {
  font-size: 0.8rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.announcement + .announcement {
  border-top: rgb(115, 115, 115) 1px solid;
}


/* Trending styling */

.trending {
  grid-area: trending;
}

.trending .card {
  padding: 1.5rem;
  background: var(--card-background);
  font-size: 4rem;

}

.trend {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.trend + .trend {
  margin-top: 1.5rem;
}
.trend .account {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 0.9rem;
}

.trend .username {
  font-weight: 600;
  margin-bottom: 0.15rem;
}

.trend-1 .gh-avatar2 {
  background: var(--gh-avatar2) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.trend-2 .gh-avatar {
  background: var(--gh-avatar) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.trend-3 .gh-avatar3 {
  background: var(--gh-avatar3) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.trend-4 .gh-avatar4 {
  background: var(--gh-avatar4) center center / cover no-repeat;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

img[src$=".svg"] {
 
  width: 2.5rem; 
  height: 2.5rem;
}

img[src$=".svg"]:hover{
  opacity: 0.7;
  transform: scale(1.1);
}